{% extends 'base.html.twig' %}

{% block title %}TbFerramentas{% endblock %}

{% block body %}
    <h1>TbFerramentas</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Cod_ferramenta</th>
                <td>{{ tb_ferramenta.codFerramenta }}</td>
            </tr>
            <tr>
                <th>Nome_ferramenta</th>
                <td>{{ tb_ferramenta.nomeFerramenta }}</td>
            </tr>
            <tr>
                <th>Marca_ferramenta</th>
                <td>{{ tb_ferramenta.marcaFerramenta }}</td>
            </tr>
            <tr>
                <th>Aluguel_hora</th>
                <td>{{ tb_ferramenta.aluguelHora }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('tb_ferramentas_index') }}">back to list</a>

    <a href="{{ path('tb_ferramentas_edit', {'cod_ferramenta': tb_ferramenta.cod_ferramenta}) }}">edit</a>

    {{ include('tb_ferramentas/_delete_form.html.twig') }}
{% endblock %}
